.content__pagination{
    width: 100%;
    margin: 35px 0 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
        margin-bottom: 0;
        .nav__prev{
            a{
                width: auto !important;
            }
        }
        .nav__next{
            a{
                width: auto !important;
            }
        }
    }
    .page-item{
        margin-right: 8px;
        --bs-pagination-focus-bg: #fff;
        .page-link{
            --bs-pagination-focus-box-shadow: none;
            height: 34px;
            width: 34px;
            font-size: 10px;
            color: #5C5F60;
            border: 1px #C4C7C7 solid;
            border-radius: 25px;
            padding: 8px 13px;
        }
    }
    .active{
        position: relative;
        top: -3px;
        .page-link{
            background: none;
            width: 40px;
            height: 40px;
            color: #000;
            border: 1px #000 solid;
            padding: 11px 16px;
        }
    }
}
.hideToMobile{
    // display: flex;
}